<div class="container">
    <h2>Classrooms</h2>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let classroom of classrooms">
            <div class="card mb-4">
                <a routerLink="/student-stream" class="card-link">
                    <div class="card-body">
                        <h5 class="card-title">{{ classroom.classroom_Name }}</h5>
                        <p class="card-text">{{ classroom.classroom_Description }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>