<div class="form-container">
    <h2 class="form-title">Upload Notes</h2>
    <form (ngSubmit)="teacherUploadNotes()" class="upload-form">
        <div class="form-group">
            <label for="file" class="form-label">Select File</label>
            <input type="file" id="file" (change)="onFileSelected($event)" class="form-control">
        </div>
        <div class="form-group">
            <label for="classroomId" class="form-label">Classroom ID</label>
            <input type="number" id="classroomId" [(ngModel)]="classroomId" name="classroomId" class="form-control">
        </div>
        <button type="submit" class="btn btn-success btn-upload">Upload</button>
    </form>
</div>