<div class="content-container">
    <app-admin-siderbar></app-admin-siderbar>
    <div class="button-container">
        <button (click)="createClassroom()" type="button" class="btn btn-success">Create Classroom</button>
        <button (click)="getAllClassroom()" type="button" class="btn btn-success">Classroom List</button>
    </div>

    <!-- Conditionally display the create classroom form -->
    <div class="form-container" *ngIf="showCreateClassroomForm">
        <app-create-classroom></app-create-classroom>
    </div>

    <!-- Router outlet to display other components like classroom list and update -->
    <router-outlet *ngIf="!showCreateClassroomForm"></router-outlet>
</div>